@charset "UTF-8";

/* Estilo para impressão */

*{
    margin: 10;
    padding: 10;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu, h3.explicacao, h3{
    display: none;
}

header::before{
    content: 'Esta é a versão para impressão';
}
